In [1]:
import pandas as pd
import numpy as np

In [2]:
classes = ['A', 'B']
stu_ids = [1,2,3,4]
subjects = ['Art', 'Math', 'Science']

In [3]:
np.random.seed(0)
length = len(classes) * len(subjects) *len(stu_ids)
data = np.random.randint(3,6,size=(length))

In [4]:
index = pd.MultiIndex.from_product(
    [classes, stu_ids, subjects],
    names=['Class', 'Student ID', 'Subject'])

In [5]:
df = pd.DataFrame(data, index=index, columns=['Score'])

In [6]:
class_subject_avg = df.groupby(
    ['Class', 'Subject'])['Score'].mean()

In [8]:
class_student_avg = df.groupby(
    ['Class', 'Student ID'])['Score'].mean()

In [9]:
both_class_avg = df.groupby(
    ['Subject'])['Score'].mean()

In [10]:
student_total_score = df.groupby(
    ['Class', 'Student ID'])['Score'].sum().sort_values(ascending=False)

In [11]:
class_student_avg

Class  Student ID
A      1             3.333333
       2             4.333333
       3             3.666667
       4             3.666667
B      1             4.666667
       2             3.666667
       3             3.666667
       4             3.333333
Name: Score, dtype: float64

In [12]:
class_subject_avg

Class  Subject
A      Art        3.25
       Math       4.00
       Science    4.00
B      Art        3.75
       Math       4.00
       Science    3.75
Name: Score, dtype: float64

In [13]:
student_total_score

Class  Student ID
B      1             14
A      2             13
       3             11
       4             11
B      2             11
       3             11
A      1             10
B      4             10
Name: Score, dtype: int32