In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'X1': [1,2,3],
                   'X2': ['X', 'Y', 'X']},
                  index=[0,1,2])

In [3]:
df2 = pd.DataFrame({'X3': ['A', 'B', 'C'],
                   'X4': [4,5,6]},
                  index=[1,2,3])

In [4]:
df1

   X1 X2
0   1  X
1   2  Y
2   3  X

In [5]:
df2

  X3  X4
1  A   4
2  B   5
3  C   6

In [6]:
df_outer = pd.concat([df1, df2], join='outer', axis=1)

In [7]:
df_outer

    X1   X2   X3   X4
0  1.0    X  NaN  NaN
1  2.0    Y    A  4.0
2  3.0    X    B  5.0
3  NaN  NaN    C  6.0

In [8]:
df_inner = pd.concat([df1, df2], join='inner', axis=1)

In [9]:
df_inner

   X1 X2 X3  X4
1   2  Y  A   4
2   3  X  B   5