In [1]:
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

In [2]:
iris = load_iris()

In [3]:
X = iris.data
print(iris.feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [4]:
y = iris.target

In [5]:
print(np.unique(y))

[0 1 2]

In [6]:
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

In [7]:
X_df = pd.DataFrame(X,
                   columns=['X1', 'X2', 'X3', 'X4'])

In [8]:
round(X_df.describe(), 2)

           X1      X2      X3      X4
count  150.00  150.00  150.00  150.00
mean     5.84    3.06    3.76    1.20
std      0.83    0.44    1.77    0.76
min      4.30    2.00    1.00    0.10
25%      5.10    2.80    1.60    0.30
50%      5.80    3.00    4.35    1.30
75%      6.40    3.30    5.10    1.80
max      7.90    4.40    6.90    2.50