In [1]:
import pandas as pd
import numpy as np

In [2]:
index_arrays = [['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D'],
                range(1, 9)]

In [3]:
data = np.random.randint(0, 9, size=(8,4))

In [4]:
row_idx = pd.MultiIndex.from_arrays(index_arrays,
                                   names=['I', 'II'])

In [5]:
df = pd.DataFrame(data,
                 index=row_idx,
                 columns=['X1', 'X2', 'X3', 'X4'])

In [6]:
df

      X1  X2  X3  X4
I II
A 1    7   3   7   7
  2    6   3   6   5
B 3    4   4   7   1
  4    4   5   5   5
C 5    4   5   1   3
  6    4   2   5   0
D 7    0   2   2   1
  8    1   8   2   5