In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.random.randint(0,9,size=(8,4))

In [3]:
col_arrays = [['A', 'A', 'B', 'B'],
             ['X1', 'X2', 'X3', 'X4']]

In [4]:
multi_col = pd.MultiIndex.from_arrays(col_arrays,
                                     names=['I', 'II'])

In [5]:
df = pd.DataFrame(data, columns=multi_col)

In [6]:
df

I   A     B
II X1 X2 X3 X4
0   3  4  1  8
1   5  7  3  2
2   1  6  4  5
3   2  7  6  5
4   2  0  6  7
5   8  8  4  3
6   3  3  7  8
7   7  6  7  5