In [1]:
import pandas as pd
import numpy as np

In [2]:
student_ids = [1,2,3,4]
subjects = ['Art', 'Math', 'Science']
np.random.seed(0)

In [3]:
scores = np.random.randint(3,6,
                          size=(len(student_ids), len(subjects)))

In [4]:
df = pd.DataFrame(scores, index=student_ids,
                 columns=subjects)

In [6]:
df.columns.names = ['Subject']
df.index.names = ['Student ID']

In [7]:
df.stack().reset_index().rename(columns={0: 'Final'})

    Student ID  Subject  Final
0            1      Art      3
1            1     Math      4
2            1  Science      3
3            2      Art      4
4            2     Math      4
5            2  Science      5
6            3      Art      3
7            3     Math      5
8            3  Science      3
9            4      Art      3
10           4     Math      3
11           4  Science      5