In [1]:
import pandas as pd

In [2]:
left_data = {
    'M': [1,2,3],
    'X': ['a', 'b', 'c']}
left_df = pd.DataFrame(left_data)

In [3]:
left_df

   M  X
0  1  a
1  2  b
2  3  c

In [4]:
right_data = {
    'X': ['b', 'c', 'd'],
    'N': [22, 33, 44]}
right_df = pd.DataFrame(right_data)

In [5]:
right_df

   X   N
0  b  22
1  c  33
2  d  44

In [6]:
left_exl = left_df.merge(right_df,
                        on='X',
                        how='left',
                        indicator=True)

In [7]:
left_exl = left_exl[
    left_exl['_merge'] == 'left_only'].drop(
        columns=['_merge'])

In [8]:
right_exl = left_df.merge(right_df,
                        on='X',
                        how='right',
                        indicator=True)

In [9]:
right_exl = right_exl[
    right_exl['_merge'] == 'right_only'].drop(
        columns=['_merge'])

In [10]:
outer_exl = left_df.merge(right_df,
                        on='X',
                        how='outer',
                        indicator=True)

In [11]:
outer_exl = outer_exl[
    outer_exl['_merge'] == 'both'].drop(
        columns=['_merge'])

In [12]:
left_exl

   M  X   N
0  1  a NaN

In [13]:
right_exl

    M  X   N
2 NaN  d  44

In [14]:
outer_exl

     M  X     N
1  2.0  b  22.0
2  3.0  c  33.0