In [1]:
import pandas as pd

In [2]:
data = {
    'Student ID':['1','1','2','2','3','3','4','4'],
    'Subject': ['Math','Art','Science','Art',
                'Math','Science', 'Art','Math'],
    'Midterm': [4, 5, 3, 5, 4, 5, 3, 5],
    'Final': [3, 4, 5, 3, 4, 4, 4, 5]}

In [3]:
df = pd.DataFrame(data)
df.pivot_table(index=['Subject', 'Student ID'],
              values=['Midterm', 'Final'])

                    Final  Midterm
Subject Student ID
Art     1             4.0      5.0
        2             3.0      5.0
        4             4.0      3.0
Math    1             3.0      4.0
        3             4.0      4.0
        4             5.0      5.0
Science 2             5.0      3.0
        3             4.0      5.0