In [1]:
import pandas as pd

In [2]:
data = {
    'Student ID':['1','1','2','2','3','3','4','4'],
    'Subject': ['Math','Art','Science','Art',
                'Math','Science', 'Art','Math'],
    'Midterm': [4, 5, 3, 5, 4, 5, 3, 5],
    'Final': [3, 4, 5, 3, 4, 4, 4, 5]}

In [3]:
df = pd.DataFrame(data)
df.pivot(index='Student ID',
        columns='Subject',
        values='Midterm')

Subject     Art  Math  Science
Student ID
1           5.0   4.0      NaN
2           5.0   NaN      3.0
3           NaN   4.0      5.0
4           3.0   5.0      NaN