In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A': ['X', 'Y', 'Z']})
df2 = pd.DataFrame({'B': [1,2]})

In [3]:
df1

   A
0  X
1  Y
2  Z

In [4]:
df2

   B
0  1
1  2

In [5]:
df_cross = df1.join(df2, how='cross')

In [6]:
df_cross

   A  B
0  X  1
1  X  2
2  Y  1
3  Y  2
4  Z  1
5  Z  2