In [1]:
import pandas as pd
import numpy as np

In [2]:
classes = ['A', 'B']
student_ids = [1,2,3,4]
subjects = ['Art', 'Math', 'Science']

In [3]:
length = len(classes)*len(student_ids)*len(subjects)

In [4]:
scores = np.random.randint(3, 6, size=(length))

In [5]:
index = pd.MultiIndex.from_product(
    [classes, student_ids, subjects],
    names=['Class', 'Student ID', 'Subject'])

In [6]:
df = pd.DataFrame(scores, index=index,
                 columns=['Final'])

In [7]:
df.unstack('Class')

                   Final
Class                  A  B
Student ID Subject
1          Art         5  3
           Math        3  4
           Science     5  4
2          Art         3  4
           Math        5  3
           Science     3  5
3          Art         3  3
           Math        3  4
           Science     3  4
4          Art         5  4
           Math        5  5
           Science     4  3