In [1]:
import pandas as pd
import numpy as np

In [2]:
np_array = np.random.normal(size=(10,4))

In [3]:
df_np = pd.DataFrame(np_array, 
                     columns=['X1', 'X2', 'X3', 'X4'])

In [4]:
df_np

         X1        X2        X3        X4
0  0.919181 -1.079782 -0.184386 -0.390140
1 -1.225327 -0.474249  0.756425  1.122880
2 -1.061725 -0.052447 -0.555938 -0.059928
3 -0.108206  0.683713  0.788890  1.452353
4 -0.642214 -0.318937 -2.189810 -2.672283
5  0.134021  0.336520 -0.254339 -0.471623
6 -0.298293 -1.201644  0.107908 -1.637029
7 -0.323966  0.609321 -2.142043 -0.829867
8  0.267666  0.642598 -0.025761 -1.317950
9  0.631121  0.401079  0.304630  1.240427

In [5]:
data = []

In [6]:
for idx in range(10):
    data_idx = np.random.normal(size=(1, 4)).tolist()
    data.append(data_idx[0])

In [7]:
data

[[-1.13938919759948,
  -0.23690256229182646,
  -0.869246494015056,
  -1.56281091646844],
 [-0.6723102659166514,
  -0.20474571348307766,
  0.5580161472677962,
  0.9130994864135702],
 [0.9273233967087333,
  -0.8479593097856435,
  -0.9585384192686934,
  -1.027632665368368],
 [-3.1052007788938267,
  -0.46784840976705666,
  -0.29723178634677416,
  -0.4716160142744504],
 [1.0403108621873975,
  -0.3509698543818968,
  -0.7940867610448921,
  1.0648293668622744],
 [1.0182853835322974,
  -0.034821426031047924,
  -0.9335066589416594,
  -0.13656882546929783],
 [0.21367181566010096,
  1.4062312931676666,
  -0.2949869070723267,
  0.4391785234505534],
 [0.3764604011315241,
  -0.2554002792735139,
  -0.5520127041750147,
  -0.13525400839676496],
 [-1.270247048028162,
  -0.11572333283034153,
  -0.1616457361043756,
  -0.840982308999287],
 [1.318551220679982,
  0.06803505332735886,
  0.07114795576957353,
  0.8171510181907414]]

In [8]:
df_loop = pd.DataFrame(data, columns=['X1', 'X2', 'X3', 'X4'])

In [9]:
df_loop

         X1        X2        X3        X4
0 -1.139389 -0.236903 -0.869246 -1.562811
1 -0.672310 -0.204746  0.558016  0.913099
2  0.927323 -0.847959 -0.958538 -1.027633
3 -3.105201 -0.467848 -0.297232 -0.471616
4  1.040311 -0.350970 -0.794087  1.064829
5  1.018285 -0.034821 -0.933507 -0.136569
6  0.213672  1.406231 -0.294987  0.439179
7  0.376460 -0.255400 -0.552013 -0.135254
8 -1.270247 -0.115723 -0.161646 -0.840982
9  1.318551  0.068035  0.071148  0.817151